:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
}

#popup {
  background-color: #eee;
  border-radius: 1rem;
  border: 2px solid black;
  position: absolute;
  top: 0.5rem;
  left: 3.5rem;
  z-index: 999;

  padding: 1rem;
}
